.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 8rem;
}

.form {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.url-input {
  display: block;
  width: 100%;
}